.subtitulo{
    margin: 15px;
}
.subtitulo2{
    font-size: 25px;
}

.container{
    max-width: 100%;
       
}

.image1,.image2{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-fill-mode: both;
    z-index: 1;

    size: 20px;
    text-align: center;
    
}
p{
    font-size: 19   px;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
        
    }
    to{
        opacity: 1;
        scale: 100%;
        
    }
}
